* {
    font-family: 'Times New Roman', Times, serif;
}

main {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.AppStyle {
    width: 25%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.293);
    padding: 25px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.499);
}

input {
    padding: 5px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid rgb(170, 169, 169);
    outline: none;
}

input[type=number]:focus {
    border: 3px solid rgba(117, 114, 114, 0.796);
}

select {
    width: 20%;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid rgb(170, 169, 169);
    outline: none;
}

button {
    padding: 5px;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.363);
    border: 2px solid rgb(170, 169, 169);
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    transition: all linear 0.2s;
}

button:hover {
    border: rgba(0, 0, 0, 0.833);
    background-color: rgb(86, 86, 86);
    color: white;
    box-shadow: 0px 2px 10px rgb(114, 113, 113);

}